body{
	line-height: 1.59 !important;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 3rem !important;
}

a { 
    color: #3F51B5 !important;
}

a:hover{
	text-decoration: underline;
	color: #3F51B5 !important;
}

.hero.is-info,
.tag:not(body).is-info,
.timeline .timeline-item .timeline-marker.is-info.is-icon,
.timeline.is-centered .timeline-item.is-info::before {
    background-color: #3F51B5 !important;
    border-color: #3F51B5 !important;
}

.hero.is-social a{
	color: #fff !important;
}

.hero.is-social .hero-body{
	padding: 1.5rem !important;
}

.heading{
	margin-bottom: 13px !important;
}

.description{
	color: #656565;
    font-size: 14px;
}